"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b661d751-570c-4754-a8fd-d6db80a44c28"
  "atom-ctags":
    buildTimeout: 50000
    cmdArgs: "--exclude=$PROJECT/bin --exclude=$PROJECT/docs --exclude=$PROJECT/logs --exclude=$PROJECT/lua --exclude=*.js --exclude=*.css --exclude=*.less"
    disableComplete: true
  "atom-ternjs":
    lint: false
  "autocomplete-plus":
    enableBuiltinProvider: false
    minimumWordLength: 2
  "autocomplete-python":
    addBracketAfterFunction: true
    addDotAfterModule: true
    extraPaths: "$PROJECT_VENV/lib/python2.7/site-packages"
    fuzzyMatcher: true
    pythonPath: "$PROJECT_VENV/bin/python"
    useSnippets: "all"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "grammar-selector"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "language-yaml"
      "metrics"
      "archive-view"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "encoding-selector"
      "image-view"
      "language-property-list"
      "link"
      "open-on-github"
      "package-generator"
      "spell-check"
      "autocomplete-atom-api"
      "deprecation-cop"
      "exception-reporting"
      "language-go"
      "language-hyperlink"
      "language-source"
      "styleguide"
      "welcome"
      "autosave"
      "keybinding-resolver"
      "symbols-view"
      "linter-pydocstyle"
      "language-lua"
      "language-thrift"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "*.pyc"
      ".git"
      "*egg*"
      "usr"
    ]
    packagesWithKeymapsDisabled: [
      "linter"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 79
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "39893c6b-47ce-3f23-c6cb-fe982c002e0b"
  "git-diff": {}
  "git-log": {}
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-pydocstyle": {}
  "linter-pylama":
    ignoreErrorsAndWarnings: "E501,D101,D103"
    pylamaVersion: "internal"
  "merge-conflicts":
    gitPath: "$USERLOCAL/bin/git"
  minimap: {}
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  pigments: {}
  "status-bar": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    sortFoldersBeforeFiles: false
  welcome:
    showOnStartup: false
".angular.html.text":
  editor:
    preferredLineLength: 79
    tabLength: 2
".ini.source":
  editor:
    preferredLineLength: 79
